flask
gunicorn==21.2.0
python-dotenv>=1.0.0
flask-limiter
flask-cors
pyOpenSSL
langchain-community
langchain-core
langchain-anthropic
langchain-google-genai
langchain-openai
langchain-text-splitters
langchain-pinecone
langchain
langsmith
langgraph
openai
pinecone
weave
PyYAML
beautifulsoup4
requests
urllib3
PyPDF2